In [ ]:
Range()

NoneType 

Operators in Python

Input and Output Statement 

Conditional statements

    if else 
    for Loops 
    While Loops

In [11]:
list(range(15,19,2))

[15, 17]

In [12]:
a = None

In [14]:
type(a)

NoneType

In [ ]:
Operators in Python 

Arithmatic
Relational Operators / Comparision Operators 
Logical Operators 
Equality Operators 
Ternary Operators 
Assignment Operators 
Special Operators

In [ ]:
+
-
*
/
%
//
**

In [27]:
a = 10 
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

15
5
50
2.0
0
2
100000

In [18]:
a+b
a-b

7

In [31]:
int('10') + 10

20

In [34]:
a = 10 
b = 20 
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

True
False
True
False

In [38]:
a = 10 
b = 20 
print(a==b)
print(a!=b)

False
True

In [ ]:
and 
or 
not

In [41]:
a = 10
b = 20 
c = 130
d = 40

(a<b) or (c<d)

True

In [49]:
a = 10
a+=20
a

30

In [ ]:
+=
-=
/=
*=
//=
%=
**=

In [50]:
x = 30 if 10>20 else 40
x

40

In [51]:
a = 7
b = 4
c = 5

x = a if a>b>c else b if b>c else c
x

5

In [52]:
a = 7
b = 4
c = 5

x = a if a>b and a>c else b if b>c else c
x

7

In [53]:
#Identity Operators 
    #is
    #is not
#Membership Operators 
    #in
    #not in

In [75]:
a = 255.5
b = 255.5
a is not b

True

In [76]:
id(a)

1752979922288

In [77]:
id(b)

1752965777296

In [78]:
list1 = [10,20,30,40,50]

In [81]:
100 not in list1

True

In [94]:
age = bool(input('Enter the age: '))

Enter the age: True

In [95]:
type(age)

bool

In [96]:
age

True

In [89]:
if age >100:
    True

In [102]:
print('Hello')
print()
print('Good Morning')

Hello

Good Morning

In [98]:
print('Hello \n \nGood Morning')

Hello

Good Morning

In [105]:
a = 10
b = 20
c = 30

print(a,b,c,sep='*')

10*20*30

In [ ]:
Conditional Statements 
if and else

In [115]:
marks = int(input('Enter the marks you got: '))
if marks>=40:
    print('You passed the exam')
    print('Hi')
else:
    print('You failed the exam')
print('Hello')

Enter the marks you got: 45
You passed the exam
Hi
Hello

In [118]:
marks = int(input('Enter the marks you got: '))
if marks<40:
    print('You failed the exam')
elif marks>40 and marks<=60:
    print('You got the average marks')
else:
    print('You got excellent marks')

Enter the marks you got: 65
You got excellent marks

Tax Calculator

In [123]:
salary = int(input('Enter the salary: '))
if salary<=2500:
    print('The total tax you will have to pay: ', salary*0)
elif salary>2500 and salary<=5000:
    print('The total tax you will have to pay: ', salary*0.05)
elif salary>5000 and salary<=10000:
    print('The total tax you will have to pay: ', salary*0.10)
elif salary>10000 and salary<=20000:
    print('The total tax you will have to pay: ', salary*0.20)
else:
    print('The total tax you will have to pay: ', salary*0.30)

Enter the salary: 30000
The total tax you will have to pay:  9000.0

# The End