In [ ]:
Nested If and Else

In [11]:
transaction_amount = int(input('Enter the transaction amount: '))
transaction_type = input('Enter the transaction type: ')
transaction_fee=0
if transaction_type=='withdrawal':
    if transaction_amount>1000:
        transaction_fee = 5
        total_amount = transaction_amount+transaction_fee
        print('Total amount: ', total_amount)
    elif transaction_amount<=1000:
        transaction_fee = 2
        total_amount = transaction_amount+transaction_fee
        print('Total amount: ', total_amount)
elif transaction_type=='deposit':
    transaction_fee = 0
    total_amount = transaction_amount+transaction_fee
    print('Total amount: ', total_amount)
else:
    print('There is an error, pass the correct value')

Enter the transaction amount: 5000
Enter the transaction type: rahul
There is an error, pass the correct value

In [ ]:
For Loops

In [ ]:
When I want to iterate on something Lists, Tuples, Sets, etc

In [13]:
import time
name = 'Rahul'
for i in name:
    print(i)
    time.sleep(2)

R
a
h
u
l

In [15]:
name = ['Rahul','Pavan']
for i in name:
    print(i)
    time.sleep(2)

Rahul
Pavan

In [20]:
company = 'The Scholar'
for r in company:
    print(r)
    time.sleep(1)

T
h
e

S
c
h
o
l
a
r

In [18]:
names = ['AA','BB','CC','DD','EE']
for  i in names:
    print(i)

AA
BB
CC
DD
EE

In [43]:
sales = [4532,2345,3224,2333]
profit = [455,344,222,111,544,433,5,44,333,33]

In [45]:
for i in range(0,len(profit)):
    print(profit[i]/sales[i])

0.10039717563989409
0.1466950959488273
0.06885856079404466
0.04757822546078011

IndexError: list index out of range

In [28]:
profit[0]/sales[0]

0.10039717563989409

In [36]:
list(range(0,6))

[0, 1, 2, 3, 4, 5]

In [40]:
list(range(0,len(sales)))

[0, 1, 2, 3, 4, 5]

In [49]:
transaction_history = [50,-20,100,-30,-10]
print('Transaction History')
for x in transaction_history:
    if x>0:
        print('Deposit: ',x)
    else:
        print('Withdraw: ', abs(x))

Transaction History
Deposit:  50
Withdraw:  20
Deposit:  100
Withdraw:  30
Withdraw:  10

In [50]:
account_balances = [3454,3332,3445,3334,3333]
total_balance = 0 
for balance in account_balances:
    total_balance = total_balance+balance
print('Total account balance: ', total_balance)

Total account balance:  16898

In [51]:
account_balances = [1000,2000,3000,4000,5000,3000]
interest_rate = 0.05

for i in range(len(account_balances)):
    interest = account_balances[i]*interest_rate
    account_balances[i]+=interest
print('Updated account balance: ', account_balances)

Updated account balance:  [1050.0, 2100.0, 3150.0, 4200.0, 5250.0, 3150.0]

In [59]:
account_numbers = [123456,789012,345678,901234]
account_to_close = int(input('Which account you need to close: '))
for account in account_numbers:
    if account==account_to_close:
        print('Closing Account: ', account)
        account_numbers.remove(account)
#print('Account not found')
print('Remaining accounts: ', account_numbers)

Which account you need to close: 222222
Remaining accounts:  [123456, 789012, 345678, 901234]

In [60]:
account_transactions = [{'date':'2023-07-01', 'type':'Deposit','amount':100},
                        {'date':'2023-07-02', 'type':'Withdraw','amount':50},
                        {'date':'2023-07-03', 'type':'Deposit','amount':200},
                        {'date':'2023-07-04', 'type':'Withdraw','amount':75}]

In [65]:
print('Account Statement')
for transaction in account_transactions:
    print(transaction['date'], '-', transaction['type'],'-',transaction['amount'])

Account Statement
2023-07-01 - Deposit - 100
2023-07-02 - Withdraw - 50
2023-07-03 - Deposit - 200
2023-07-04 - Withdraw - 75

In [66]:
transaction_date = ['2023-07-01','2023-07-02','2023-07-03','2023-07-04']
transaction_type = ['Deposit','Withdraw','Deposit','Withdraw']
transaction_amount = [100,50,200,75]

In [67]:
for (td,tt,ta) in zip(transaction_date,transaction_type,transaction_amount):
    print(td,'-',tt,'-',ta)

2023-07-01 - Deposit - 100
2023-07-02 - Withdraw - 50
2023-07-03 - Deposit - 200
2023-07-04 - Withdraw - 75