# Object Oriented Programming Language

Functional Programming 

Object Oriented Programming

In [1]:
def celtofer(c):
    f = (c*9/5)+32
    return f

In [2]:
celtofer(10)

50.0

In [13]:
class CeltoFer:
    def __init__(self,c):
        self.c = c
    def ctof(self):
        f = (self.c*9/5) + 32
        return f

In [14]:
c1 = CeltoFer(10)
c1.ctof()

50.0

In [15]:
c1

In [16]:
c2 = CeltoFer(20)
c2.ctof()

68.0

In [10]:
c2

In [5]:
list1 = [1,2,3,4]
print(type(list1))

<class 'list'>

In [54]:
class Employee:
    company = 'The Scholar'
    def __init__(self, eid,efname,elname,esalary,elocation):
        self.eid = eid
        self.efname = efname
        self.elname = elname
        self.esalary = esalary
        self.elocation = elocation
    
        
    def display(self):
        print('Your employee id is:', self.eid)
        print('Your name is:', self.efname+' '+self.elname)
        print('Your salary is:', self.esalary)
        print('Your location is:', self.elocation)
        print('Your company name is: ', Employee.company)
        
    def tax_calc(self):
        if self.esalary<=2500:
            print('Your total tax is: ', self.esalary*0)
        elif self.esalary>2500 and self.esalary<=5000:
            print('Your total tax is: ', self.esalary*0.05)
        elif self.esalary>5000 and self.esalary<=10000:
            print('Your total tax is: ', self.esalary*0.10)
        else:
            print('Your total tax is: ', self.esalary*0.15)
            
    def bonus_calc(self):
        if self.elocation=='Delhi':
            print('The bonus you will get is: ', 0.5*self.esalary)
        else:
            print('There will not be any bonus')
            
    def hike_calc(self):
        hike = 0.30
        if self.esalary<5000:
            print('Your total hike is: ', self.esalary+self.esalary*hike)
        else:
            print('Your total hike is: ', self.esalary)

In [52]:
emp1 = Employee(1,'Rahul','Tiwari',4500,'Delhi','Accenture')
emp1.tax_calc()
emp1.bonus_calc()
emp1.hike_calc()

Your total tax is:  225.0
The bonus you will get is:  2250.0
Your total hike is:  5850.0

In [53]:
emp2 = Employee(2,'Atharv','Tiwari',15000,'Gurgaon','Deloitte')
emp2.display()
emp2.tax_calc()
emp2.bonus_calc()
emp2.hike_calc()

Your employee id is: 2
Your name is: Atharv Tiwari
Your salary is: 15000
Your location is: Gurgaon
Your company name is:  Deloitte
Your company name is:  The Scholar

NameError: name 'hike' is not defined

*eid, efname,elname,elocation,esalary - Instance variables / Object level variable*

*company - Static variable / Class level variable*

*hike - Local variable it is local to the method, method level variable*

In [55]:
list_employees = [(1,'A','B',10000,'Delhi'),
                  (2,'X','C',13000,'Noida'),
                  (3,'Y','D',14000,'Gurgaon'),
                  (4,'Z','E',15000,'Mumbai'),
                  (5,'P','F',16000,'Delhi'),
                  (6,'Q','G',17000,'Chennai')]

In [62]:
for i in list_employees:
    emp = Employee(*i)
    emp.display()
    emp.tax_calc()
    emp.bonus_calc()
    emp.hike_calc()
    print('-------------------')

Your employee id is: 1
Your name is: A B
Your salary is: 10000
Your location is: Delhi
Your company name is:  The Scholar
Your total tax is:  1000.0
The bonus you will get is:  5000.0
Your total hike is:  10000
-------------------
Your employee id is: 2
Your name is: X C
Your salary is: 13000
Your location is: Noida
Your company name is:  The Scholar
Your total tax is:  1950.0
There will not be any bonus
Your total hike is:  13000
-------------------
Your employee id is: 3
Your name is: Y D
Your salary is: 14000
Your location is: Gurgaon
Your company name is:  The Scholar
Your total tax is:  2100.0
There will not be any bonus
Your total hike is:  14000
-------------------
Your employee id is: 4
Your name is: Z E
Your salary is: 15000
Your location is: Mumbai
Your company name is:  The Scholar
Your total tax is:  2250.0
There will not be any bonus
Your total hike is:  15000
-------------------
Your employee id is: 5
Your name is: P F
Your salary is: 16000
Your location is: Delhi
Your company name is:  The Scholar
Your total tax is:  2400.0
The bonus you will get is:  8000.0
Your total hike is:  16000
-------------------
Your employee id is: 6
Your name is: Q G
Your salary is: 17000
Your location is: Chennai
Your company name is:  The Scholar
Your total tax is:  2550.0
There will not be any bonus
Your total hike is:  17000
-------------------